# Python
__pycache__/
*.py[codz]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Secrets
.env
config.py

# Bot data
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# Temporary files
tempCodeRunnerFile.py
